.tech {
    width: 27vw;
}

.developer {

}

.techHeader {
    width: 27vw;
    display: flex;
    background-color: #E5E5E5;

}

.developerHeader {
    display: flex;
    background-color: #E5E5E5;
}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
}

.loading {

}