.buttonsContainer {
    margin-top: 16px;
}

.buttonsContainer button {
    display: inline-flex;
    width: 135px;
    height: 30px;
}

.buttonsContainer button:first-child {
    margin-right: 24px;
}

.editableSpanContainer {
    margin-top: 34px;
    width: 276px;
    height: 36px;
}
