.spanBlock {
    width: 276px;
    height: 36px;
}

.span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #0080FF;
}

.spanBlock .span .input {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 276px;
    height: 36px;
    box-sizing: border-box;
    width: 276px;
    height: 36px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #961717;
}

.pen {
    margin-right: 24px;
}