.friendMessage {
    display: flex;
    align-items: flex-end;
    margin: 10px 10px 10px 70px;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.friendImageAndText {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
}

.friendImageAndText img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 10px;
}

.friendText {
    position: relative;
    width: 500px;
    padding: 20px;
    border-radius: 10px 10px 10px 0;
    background: #0066CC;
    color: #FFFFFF;
}

.friendText:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    display: block;
    width: 30px;
    height: 30px;
    background: radial-gradient(60px at top left, transparent 49%, #0066CC 51%) no-repeat right bottom;
}

.friendName {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
}

.friendMessageText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.friendTime {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 1px;
}
